In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data2/processed/merged_clean.csv', index_col = 0)

In [3]:
df['value'] = df['value'].astype(float)
df['quantity'] = df['quantity'].astype(int)

In [4]:
total_values = df.groupby('vat')['value'].sum()
total_quantity = df.groupby('vat')['quantity'].sum()

In [5]:
df.head()

    id        vat       category   value  quantity
0  125  A28415495  Label Printer  239.00         1
1  139  B12026183    Accessories   43.80         1
2  149  B64898562    Accessories  103.38         3
3  168  A59555466    Accessories  753.49         1
4  235  A58244096      Printhead  899.91         3

In [6]:
df1 = pd.merge(df, total_values, on='vat')

In [7]:
df1.head()

    id        vat       category  value_x  quantity  value_y
0  125  A28415495  Label Printer   239.00         1   239.00
1  139  B12026183    Accessories    43.80         1    43.80
2  149  B64898562    Accessories   103.38         3   103.38
3  168  A59555466    Accessories   753.49         1   753.49
4  235  A58244096      Printhead   899.91         3   899.91

In [72]:
aggresults = pd.merge(df1, total_quantity, on='vat')

In [73]:
aggresults.rename(columns={'value_x':'value','quantity_x':'quantity','value_y':'total_value', 'quantity_y':'total_quantity'}, inplace = True)

In [74]:
aggresults['category'].value_counts()

Accessories                3268
Scanner                    2717
Label Printer              1028
Mobile Computing            766
Label                       555
Ribbon                      367
Card Ribbon                 222
Ticket Printer              219
Printhead                   199
Card                         89
Touch Screen & Computer      65
Card Printer                 63
RFID                         29
Tickets                      27
Wristband                     5
Name: category, dtype: int64

In [75]:
aggresults['Wristband_value'] = aggresults[aggresults['category'] == 'Wristband'].value
aggresults['Wristband_quantity'] = aggresults[aggresults['category'] == 'Wristband'].quantity

aggresults['RFID_value'] = aggresults[aggresults['category'] == 'RFID'].value
aggresults['RFID_quantity'] = aggresults[aggresults['category'] == 'RFID'].quantity

aggresults['Tickets_value'] = aggresults[aggresults['category'] == 'Tickets'].value
aggresults['Tickets_quantity'] = aggresults[aggresults['category'] == 'Tickets'].quantity

aggresults['CardPrinter_value'] = aggresults[aggresults['category'] == 'Card Printer'].value
aggresults['CardPrinter_quantity'] = aggresults[aggresults['category'] == 'Card Printer'].quantity

aggresults['TouchScreen_value'] = aggresults[aggresults['category'] == 'Touch Screen & Computer'].value
aggresults['TouchScreen_quantity'] = aggresults[aggresults['category'] == 'Touch Screen & Computer'].quantity

aggresults['Card_value'] = aggresults[aggresults['category'] == 'Card'].value
aggresults['Card_quantity'] = aggresults[aggresults['category'] == 'Card'].quantity

aggresults['CardRibbon_value'] = aggresults[aggresults['category'] == 'Card Ribbon'].value
aggresults['CardRibbon_quantity'] = aggresults[aggresults['category'] == 'Card Ribbon'].quantity

aggresults['Mobile_value'] = aggresults[aggresults['category'] == 'Mobile Computing'].value
aggresults['Mobile_quantity'] = aggresults[aggresults['category'] == 'Mobile Computing'].quantity

aggresults['Scanner_value'] = aggresults[aggresults['category'] == 'Scanner'].value
aggresults['Scanner_quantity'] = aggresults[aggresults['category'] == 'Scanner'].quantity

aggresults['LabelPrinter_value'] = aggresults[aggresults['category'] == 'Label Printer'].value
aggresults['LabelPrinter_quantity'] = aggresults[aggresults['category'] == 'Label Printer'].quantity

aggresults['Label_value'] = aggresults[aggresults['category'] == 'Label'].value
aggresults['Label_quantity'] = aggresults[aggresults['category'] == 'Label'].quantity

aggresults['Ribbon_value'] = aggresults[aggresults['category'] == 'Ribbon'].value
aggresults['Ribbon_quantity'] = aggresults[aggresults['category'] == 'Ribbon'].quantity

aggresults['TicketPrinter_value'] = aggresults[aggresults['category'] == 'Ticket Printer'].value
aggresults['TicketPrinter_quantity'] = aggresults[aggresults['category'] == 'Ticket Printer'].quantity

aggresults['Printhead_value'] = aggresults[aggresults['category'] == 'Printhead'].value
aggresults['Printhead_quantity'] = aggresults[aggresults['category'] == 'Printhead'].quantity

aggresults['Accessories_value'] = aggresults[aggresults['category'] == 'Accessories'].value
aggresults['Accessories_quantity'] = aggresults[aggresults['category'] == 'Accessories'].quantity

In [76]:
 aggresults

,id,vat,category,value,quantity,total_value,total_quantity,Wristband_value,Wristband_quantity,RFID_value,...,Label_value,Label_quantity,Ribbon_value,Ribbon_quantity,TicketPrinter_value,TicketPrinter_quantity,Printhead_value,Printhead_quantity,Accessories_value,Accessories_quantity
0,125,A28415495,Label Printer,239.00,1,239.00,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,139,B12026183,Accessories,43.80,1,43.80,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43.80,1.0
2,149,B64898562,Accessories,103.38,3,432.80,16,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,103.38,3.0
3,32275,B64898562,Ribbon,39.48,12,432.80,16,NaN,NaN,NaN,...,NaN,NaN,39.48,12.0,NaN,NaN,NaN,NaN,NaN,NaN
4,32405,B64898562,Label Printer,289.94,1,432.80,16,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9614,119197,B66572249,Scanner,85.79,1,85.79,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9615,119338,B34204974,Scanner,472.50,1,472.50,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9616,119340,B70135371,Scanner,472.50,1,472.50,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9617,119376,47364071X,Scanner,366.41,1,366.41,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9618,119409,B80465172,Accessories,122.65,1,122.65,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,122.65,1.0

In [77]:
aggresults.drop(columns=['category','value','quantity'], inplace = True)

In [78]:
aggresults.fillna(0)

,id,vat,total_value,total_quantity,Wristband_value,Wristband_quantity,RFID_value,RFID_quantity,Tickets_value,Tickets_quantity,...,Label_value,Label_quantity,Ribbon_value,Ribbon_quantity,TicketPrinter_value,TicketPrinter_quantity,Printhead_value,Printhead_quantity,Accessories_value,Accessories_quantity
0,125,A28415495,239.00,1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.00,0.0
1,139,B12026183,43.80,1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,43.80,1.0
2,149,B64898562,432.80,16,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,103.38,3.0
3,32275,B64898562,432.80,16,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,39.48,12.0,0.0,0.0,0.0,0.0,0.00,0.0
4,32405,B64898562,432.80,16,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9614,119197,B66572249,85.79,1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.00,0.0
9615,119338,B34204974,472.50,1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.00,0.0
9616,119340,B70135371,472.50,1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.00,0.0
9617,119376,47364071X,366.41,1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.00,0.0
9618,119409,B80465172,122.65,1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,122.65,1.0

In [79]:
columnas = list(aggresults.columns)
columnas

['id',
 'vat',
 'total_value',
 'total_quantity',
 'Wristband_value',
 'Wristband_quantity',
 'RFID_value',
 'RFID_quantity',
 'Tickets_value',
 'Tickets_quantity',
 'CardPrinter_value',
 'CardPrinter_quantity',
 'TouchScreen_value',
 'TouchScreen_quantity',
 'Card_value',
 'Card_quantity',
 'CardRibbon_value',
 'CardRibbon_quantity',
 'Mobile_value',
 'Mobile_quantity',
 'Scanner_value',
 'Scanner_quantity',
 'LabelPrinter_value',
 'LabelPrinter_quantity',
 'Label_value',
 'Label_quantity',
 'Ribbon_value',
 'Ribbon_quantity',
 'TicketPrinter_value',
 'TicketPrinter_quantity',
 'Printhead_value',
 'Printhead_quantity',
 'Accessories_value',
 'Accessories_quantity']

In [102]:
dataframe = aggresults.groupby(['id','vat','total_value','total_quantity'])['Wristband_value',
 'Wristband_quantity',
 'RFID_value',
 'RFID_quantity',
 'Tickets_value',
 'Tickets_quantity',
 'CardPrinter_value',
 'CardPrinter_quantity',
 'TouchScreen_value',
 'TouchScreen_quantity',
 'Card_value',
 'Card_quantity',
 'CardRibbon_value',
 'CardRibbon_quantity',
 'Mobile_value',
 'Mobile_quantity',
 'Scanner_value',
 'Scanner_quantity',
 'LabelPrinter_value',
 'LabelPrinter_quantity',
 'Label_value',
 'Label_quantity',
 'Ribbon_value',
 'Ribbon_quantity',
 'TicketPrinter_value',
 'TicketPrinter_quantity',
 'Printhead_value',
 'Printhead_quantity',
 'Accessories_value',
 'Accessories_quantity'].sum().reset_index()

In [103]:
dataframe['vat'].value_counts()

B85538601    25
A31008766    12
A28021715    12
A78374725    11
A78032315    10
             ..
B87273843     1
42940292M     1
B48733125     1
B86686573     1
B88047279     1
Name: vat, Length: 7625, dtype: int64

# We will merge with all the information scrapped about the companies

In [104]:
companies = pd.read_csv('../data2/processed/final_companies.csv', index_col = 0)

In [105]:
companies

,vat,CNAE,provincia,provincia_encoded,cnae_encoded
0,A28415495,3212 - Fabricación de artículos de joyería y ...,Madrid,30,199
1,B12026183,4631 - Comercio al por mayor de frutas y hort...,Castellón,11,263
2,B64898562,6201 - Actividades de programación informática,Barcelona,7,375
3,A59555466,7112 - Servicios técnicos de ingeniería y otr...,Barcelona,7,403
4,A58244096,"2030 - Fabricación de pinturas, barnices y re...",Barcelona,7,101
...,...,...,...,...,...
8330,Y3993172H,NaN,NaN,53,497
8331,E40566135,NaN,NaN,53,497
8332,32791005C,NaN,NaN,53,497
8333,50763821S,NaN,NaN,53,497
8334,51070159Q,NaN,NaN,53,497

In [106]:
compa2 = companies[['vat','provincia_encoded','cnae_encoded']]

In [107]:
df = pd.merge(dataframe, compa2, on = 'vat')

In [108]:
df.head()

,id,vat,total_value,total_quantity,Wristband_value,Wristband_quantity,RFID_value,RFID_quantity,Tickets_value,Tickets_quantity,...,Ribbon_value,Ribbon_quantity,TicketPrinter_value,TicketPrinter_quantity,Printhead_value,Printhead_quantity,Accessories_value,Accessories_quantity,provincia_encoded,cnae_encoded
0,125,A28415495,239.0,1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00,0.0,0.0,0.0,0.0,0.0,0.00,0.0,30,199
1,139,B12026183,43.8,1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00,0.0,0.0,0.0,0.0,0.0,43.80,1.0,11,263
2,149,B64898562,432.8,16,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00,0.0,0.0,0.0,0.0,0.0,103.38,3.0,7,375
3,32275,B64898562,432.8,16,0.0,0.0,0.0,0.0,0.0,0.0,...,39.48,12.0,0.0,0.0,0.0,0.0,0.00,0.0,7,375
4,32405,B64898562,432.8,16,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00,0.0,0.0,0.0,0.0,0.0,0.00,0.0,7,375

In [109]:
df = df.drop_duplicates()

In [110]:
df.fillna(0)

,id,vat,total_value,total_quantity,Wristband_value,Wristband_quantity,RFID_value,RFID_quantity,Tickets_value,Tickets_quantity,...,Ribbon_value,Ribbon_quantity,TicketPrinter_value,TicketPrinter_quantity,Printhead_value,Printhead_quantity,Accessories_value,Accessories_quantity,provincia_encoded,cnae_encoded
0,125,A28415495,239.00,1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00,0.0,0.0,0.0,0.0,0.0,0.00,0.0,30,199
1,139,B12026183,43.80,1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00,0.0,0.0,0.0,0.0,0.0,43.80,1.0,11,263
2,149,B64898562,432.80,16,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00,0.0,0.0,0.0,0.0,0.0,103.38,3.0,7,375
3,32275,B64898562,432.80,16,0.0,0.0,0.0,0.0,0.0,0.0,...,39.48,12.0,0.0,0.0,0.0,0.0,0.00,0.0,7,375
4,32405,B64898562,432.80,16,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00,0.0,0.0,0.0,0.0,0.0,0.00,0.0,7,375
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10397,119197,B66572249,85.79,1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00,0.0,0.0,0.0,0.0,0.0,0.00,0.0,7,376
10398,119338,B34204974,472.50,1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00,0.0,0.0,0.0,0.0,0.0,0.00,0.0,36,307
10399,119340,B70135371,472.50,1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00,0.0,0.0,0.0,0.0,0.0,0.00,0.0,25,336
10400,119376,47364071X,366.41,1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00,0.0,0.0,0.0,0.0,0.0,0.00,0.0,25,411
10401,119409,B80465172,122.65,1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00,0.0,0.0,0.0,0.0,0.0,122.65,1.0,30,285

In [111]:
df.to_csv('../data2/processed/DATAFRAME.csv')