In [1]:
import pandas as pd

In [32]:
sales = pd.read_csv('..\Datos\processed\sales_clean.csv')
companies = pd.read_csv('..\Datos\processed\companies_clean.csv', index_col=0)

In [34]:
sales.head(5)

,vat,Default_value,Default_quantity,Wristband_value,Wristband_quantity,RFID_value,RFID_quantity,Tickets_value,Tickets_quantity,CardPrinter_value,...,LabelPrinter_value,LabelPrinter_quantity,Label_value,Label_quantity,Ribbon_value,Ribbon_quantity,TicketPrinter_value,TicketPrinter_quantity,Printhead_value,Printhead_quantity
0,00239342G,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,00271666J,75.20,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,00664054K,40.32,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,00683789E,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,219.97,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,00792540Y,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [35]:
companies.head(2)

     CIF/NIF        Nombre_einforma        Actividad Informa  provincia
0  13921008M   MAGNI GIRALDEZ OSCAR   Servicios fotográficos  La Coruña
1  B85049435   1&1 IONOS ESPAÑA SL.       Telecomunicaciones     Madrid

In [36]:
final = pd.merge(sales,companies, left_on='vat', right_on='CIF/NIF', how = 'left')

In [37]:
final['CIF/NIF'].isnull().sum()

3363

In [38]:
final

,vat,Default_value,Default_quantity,Wristband_value,Wristband_quantity,RFID_value,RFID_quantity,Tickets_value,Tickets_quantity,CardPrinter_value,...,Ribbon_value,Ribbon_quantity,TicketPrinter_value,TicketPrinter_quantity,Printhead_value,Printhead_quantity,CIF/NIF,Nombre_einforma,Actividad Informa,provincia
0,00239342G,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00,0.0,0.00,0.0,0.0,0.0,NaN,NaN,NaN,NaN
1,00271666J,75.20,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00,0.0,0.00,0.0,0.0,0.0,NaN,NaN,NaN,NaN
2,00664054K,40.32,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00,0.0,0.00,0.0,0.0,0.0,00664054K,MONTE ABRIL ASCENSION,Maquinas automáticas sin operador par fotogra...,Madrid
3,00683789E,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00,0.0,0.00,0.0,0.0,0.0,00683789E,SAIZ VADILLO JOSE MARIA,Farmacias,Cuenca
4,00792540Y,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00,0.0,0.00,0.0,0.0,0.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7137,Y4139399B,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,363.42,6.0,0.00,0.0,0.0,0.0,Y4139399B,FOSSI LORENZO,Explotación electrónica por cuenta de terceros,Barcelona
7138,Y4892037C,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00,0.0,192.52,1.0,0.0,0.0,NaN,NaN,NaN,NaN
7139,Y5373861V,262.88,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00,0.0,0.00,0.0,0.0,0.0,NaN,NaN,NaN,NaN
7140,Y5761055Y,29.14,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00,0.0,0.00,0.0,0.0,0.0,NaN,NaN,NaN,NaN
7141,Y6439417Y,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00,0.0,0.00,0.0,0.0,0.0,NaN,NaN,NaN,NaN