In [4]:
import pandas as pd

In [8]:
ventas = pd.read_csv('../Test/clientes_sku_ventas.csv')

In [9]:
ventas.head()

,id,name,vat,name.1,price_subtotal,quantity
0,47053,W3CAN INFORMATICA S.L.,ESB76645456,[MC75A6-PYCSWQRA9WR] MC75A6 HSDPA WLAN 1D Came...,46152.33,30.0
1,32415,.,ESA48010615,[DS9808-KITSERIE] DS9808 SR LECTOR KIT SERIE,43195.00,265.0
2,36952,CONTABILIDAD,ESB85991941,"[MC75A6-PYCSWRRA9WR] MC75A6 HSDPA, 802.11a/b/g...",31612.15,29.0
3,3371,INTERFLEX S.L.,ESB08213621,[CN3-BRZDC3] CN3A/B BRONZE 3 DAYS RTB 3 YEA IN...,30092.70,110.0
4,10894,"FERROVIAL, S.A",ESA81939209,"[MC75A6-PYCSWRRA9WR] MC75A6 HSDPA, 802.11a/b/g...",29424.03,1.0

In [10]:
ventas['sku'] = ventas['name.1'].str.extract('\[(.+)\]', expand=True)

In [11]:
#ventas.drop(columns=['name.1'], inplace = True)

In [12]:
ventas.head()

,id,name,vat,name.1,price_subtotal,quantity,sku
0,47053,W3CAN INFORMATICA S.L.,ESB76645456,[MC75A6-PYCSWQRA9WR] MC75A6 HSDPA WLAN 1D Came...,46152.33,30.0,MC75A6-PYCSWQRA9WR
1,32415,.,ESA48010615,[DS9808-KITSERIE] DS9808 SR LECTOR KIT SERIE,43195.00,265.0,DS9808-KITSERIE
2,36952,CONTABILIDAD,ESB85991941,"[MC75A6-PYCSWRRA9WR] MC75A6 HSDPA, 802.11a/b/g...",31612.15,29.0,MC75A6-PYCSWRRA9WR
3,3371,INTERFLEX S.L.,ESB08213621,[CN3-BRZDC3] CN3A/B BRONZE 3 DAYS RTB 3 YEA IN...,30092.70,110.0,CN3-BRZDC3
4,10894,"FERROVIAL, S.A",ESA81939209,"[MC75A6-PYCSWRRA9WR] MC75A6 HSDPA, 802.11a/b/g...",29424.03,1.0,MC75A6-PYCSWRRA9WR

In [19]:
ventas[ventas['sku'].notnull()]

,id,name,vat,name.1,price_subtotal,quantity,sku
0,47053,W3CAN INFORMATICA S.L.,ESB76645456,[MC75A6-PYCSWQRA9WR] MC75A6 HSDPA WLAN 1D Came...,46152.33,30.0,MC75A6-PYCSWQRA9WR
1,32415,.,ESA48010615,[DS9808-KITSERIE] DS9808 SR LECTOR KIT SERIE,43195.00,265.0,DS9808-KITSERIE
2,36952,CONTABILIDAD,ESB85991941,"[MC75A6-PYCSWRRA9WR] MC75A6 HSDPA, 802.11a/b/g...",31612.15,29.0,MC75A6-PYCSWRRA9WR
3,3371,INTERFLEX S.L.,ESB08213621,[CN3-BRZDC3] CN3A/B BRONZE 3 DAYS RTB 3 YEA IN...,30092.70,110.0,CN3-BRZDC3
4,10894,"FERROVIAL, S.A",ESA81939209,"[MC75A6-PYCSWRRA9WR] MC75A6 HSDPA, 802.11a/b/g...",29424.03,1.0,MC75A6-PYCSWRRA9WR
...,...,...,...,...,...,...,...
25974,45503,AMBAR SOFWARE SLNE,ESB65099012,[MISCELLANEOUS] MISCELLANEOUS,-2400.00,20.0,MISCELLANEOUS
25975,29916,AMEFRUIT ZARAGOZA EXPORTS.L.,ESB98560816,[DIF-PREC] DIFERENCIA DE PRECIOS,-2700.00,2700.0,DIF-PREC
25976,94038,"24 KILATES, S.L.",ESB63697387,[DISCOUNT.PP] SPECIAL DISCOUNT,-2773.29,1.0,DISCOUNT.PP
25977,36954,COMPRAS,ESA08193963,[DESC.PP] DESCUENTO ESPECIAL POR PRONTO PAGO,-4959.38,1.0,DESC.PP
25978,102667,PAIN TRAITEUR S.L.,ESB31926488,[CN70AN1KNU3W2100] CN70 WIFI BTH UMTS 2D IMGR ...,-12273.66,9.0,CN70AN1KNU3W2100

In [101]:
cat = pd.read_csv('..\Datos\Categorizacio Magento\logiscenter_com.csv', delimiter=';', low_memory=False)

In [102]:
cat.head(1)

,entity_id,sku,manufacturer,modelo,variant,descatalogado,attribute_set,category_ids,category_names*
0,293,MOD-110PAX4,Zebra,Zebra 110PAX4,model,1.0,Label Printer,458,Obsoleto - Descatalogado

In [103]:
cat.drop(columns= ['entity_id','modelo','descatalogado','category_ids','category_names*','manufacturer'], inplace = True)

In [104]:
cat.head()

            sku variant  attribute_set
0   MOD-110PAX4   model  Label Printer
1  MOD-110XiIII   model  Label Printer
2  MOD-140XiIII   model  Label Printer
3   MOD-170PAX4   model  Label Printer
4  MOD-170XiIII   model  Label Printer

In [105]:
cat['attribute_set'].value_counts()

Accessories                101716
Mobile Computing            10786
Label Printer               10645
Other                        6778
Scanner                      5850
Card Printer                 2843
Ticket Printer               2001
Touch Screen & Computer      1235
Ribbon                        697
RFID                          536
Label                         285
Printhead                     266
Card Ribbon                   260
Wristband                      67
Card                           30
Tickets                        22
Supply                         20
Name: attribute_set, dtype: int64

In [106]:
result = pd.merge(ventas, cat, left_on='sku', right_on='sku', how = 'left')

In [107]:
result.head(20)

,id,name,vat,price_subtotal,quantity,sku,variant,attribute_set
0,47053,W3CAN INFORMATICA S.L.,ESB76645456,46152.33,30.0,MC75A6-PYCSWQRA9WR,NaN,Accessories
1,32415,.,ESA48010615,43195.00,265.0,DS9808-KITSERIE,NaN,NaN
2,36952,CONTABILIDAD,ESB85991941,31612.15,29.0,MC75A6-PYCSWRRA9WR,NaN,Accessories
3,3371,INTERFLEX S.L.,ESB08213621,30092.70,110.0,CN3-BRZDC3,NaN,NaN
4,10894,"FERROVIAL, S.A",ESA81939209,29424.03,1.0,MC75A6-PYCSWRRA9WR,NaN,Accessories
5,38396,MANDAR FACTURA AURELIO,ESA47413729,29239.32,34.0,MC75A6-PYCSWRRA9WR-COBRA,NaN,NaN
6,4143,"E-Flow Consulting, S.L.",ESB83342576,26599.10,110.0,NaN,NaN,NaN
7,9592,ROTOSA INDUSTRIA GRAFICA S.A,ESA28616217,25967.06,49.0,ES405B-0AE2,variant,Mobile Computing
8,22344,"Flexiplas, S.A.",ESA08286130,24880.00,4000.0,ROLLO.1500.ETI057X067,NaN,NaN
9,6942,SILVIA SERRANO- COMERCIAL SERRANO,ES52179059V,23513.04,36.0,S4M00-200E-0100T,variant,Label Printer
10,101433,Javier,ESB72314214,21484.05,35.0,60S-LEN-C111XE,variant,Mobile Computing
11,8440,Jamones Segovia S.A.,ESA78024502,19431.76,1.0,NaN,NaN,NaN
12,2432,"LIBRERIA FM, S.L.",ESB29771177,17672.41,1.0,NaN,NaN,NaN
13,116238,Acuartelamiento Gobierno Militar,ESG60883055,16914.06,128.0,ER750-10,variant,RFID
14,5913,OLGA VALIÑO GONZALEZ,ES40435232J,16872.44,13.0,ZM400-200E-0500T,NaN,Accessories
15,80857,Miguel Angel,ESB45076940,16820.65,11.0,CN70EQ4KNU3W2100,variant,Mobile Computing
16,12582,CONSERVAS ORTIZ S.A.,ESA48002943,15999.69,16.0,MC75A0-PU0SWRQA9WR,NaN,Accessories
17,10397,"FUNDIVISA, S.A",ESA36965895,15450.00,1.0,NaN,NaN,NaN
18,12969,Compuservice Servicios y consultoria informatica,ESB92896117,15000.00,1.0,NaN,NaN,NaN
19,16754,FARMACIA GASPAR SANCHEZ,ESA80192727,14970.00,15.0,MC75A6-PYCSWQRA9WR,NaN,Accessories

In [108]:
result.shape

(25983, 8)

In [109]:
aggresults = result.groupby(['vat','attribute_set']).agg({'price_subtotal':['sum'], 'quantity':['sum']})

In [110]:
aggresults.head()

                              price_subtotal quantity
                                         sum      sum
vat          attribute_set
ES B81148215 Mobile Computing        1199.22      1.0
ES B82832155 Label                      0.00      8.0
ES B83028084 Scanner                  395.15      1.0
ES B92477157 Accessories             1025.00     25.0
ES00239342G  Scanner                  643.50      1.0

In [111]:
aggresults.columns = [col[1] for col in aggresults.columns]

In [112]:
aggresults = aggresults.reset_index(level=[0,1])

In [113]:
aggresults.columns = ['vat', 'category', 'value', 'quantity']

In [114]:
aggresults.head(5)

            vat          category    value  quantity
0  ES B81148215  Mobile Computing  1199.22       1.0
1  ES B82832155             Label     0.00       8.0
2  ES B83028084           Scanner   395.15       1.0
3  ES B92477157       Accessories  1025.00      25.0
4   ES00239342G           Scanner   643.50       1.0

In [115]:
aggresults['category'].value_counts()

Accessories                2890
Scanner                    1948
Label Printer               820
Mobile Computing            679
Label                       552
Ribbon                      365
Ticket Printer              217
Printhead                   198
Card Ribbon                 174
Other                       152
Card                         89
Touch Screen & Computer      65
Card Printer                 63
Tickets                      27
RFID                         27
Wristband                     5
Name: category, dtype: int64

In [116]:
# aggresults['Default_value'] = aggresults[aggresults['category'] == 'Default'].value
# aggresults['Default_quantity'] = aggresults[aggresults['category'] == 'Default'].quantity

aggresults['Wristband_value'] = aggresults[aggresults['category'] == 'Wristband'].value
aggresults['Wristband_quantity'] = aggresults[aggresults['category'] == 'Wristband'].quantity

aggresults['RFID_value'] = aggresults[aggresults['category'] == 'RFID'].value
aggresults['RFID_quantity'] = aggresults[aggresults['category'] == 'RFID'].quantity

aggresults['Tickets_value'] = aggresults[aggresults['category'] == 'Tickets'].value
aggresults['Tickets_quantity'] = aggresults[aggresults['category'] == 'Tickets'].quantity

aggresults['CardPrinter_value'] = aggresults[aggresults['category'] == 'Card Printer'].value
aggresults['CardPrinter_quantity'] = aggresults[aggresults['category'] == 'Card Printer'].quantity

aggresults['TouchScreen_value'] = aggresults[aggresults['category'] == 'Touch Screen & Computer'].value
aggresults['TouchScreen_quantity'] = aggresults[aggresults['category'] == 'Touch Screen & Computer'].quantity

aggresults['Card_value'] = aggresults[aggresults['category'] == 'Card'].value
aggresults['Card_quantity'] = aggresults[aggresults['category'] == 'Card'].quantity

aggresults['CardRibbon_value'] = aggresults[aggresults['category'] == 'Card Ribbon'].value
aggresults['CardRibbon_quantity'] = aggresults[aggresults['category'] == 'Card Ribbon'].quantity

aggresults['Mobile_value'] = aggresults[aggresults['category'] == 'Mobile Computing'].value
aggresults['Mobile_quantity'] = aggresults[aggresults['category'] == 'Mobile Computing'].quantity

aggresults['Scanner_value'] = aggresults[aggresults['category'] == 'Scanner'].value
aggresults['Scanner_quantity'] = aggresults[aggresults['category'] == 'Scanner'].quantity

aggresults['LabelPrinter_value'] = aggresults[aggresults['category'] == 'Label Printer'].value
aggresults['LabelPrinter_quantity'] = aggresults[aggresults['category'] == 'Label Printer'].quantity

aggresults['Label_value'] = aggresults[aggresults['category'] == 'Label'].value
aggresults['Label_quantity'] = aggresults[aggresults['category'] == 'Label'].quantity

aggresults['Ribbon_value'] = aggresults[aggresults['category'] == 'Ribbon'].value
aggresults['Ribbon_quantity'] = aggresults[aggresults['category'] == 'Ribbon'].quantity

aggresults['TicketPrinter_value'] = aggresults[aggresults['category'] == 'Ticket Printer'].value
aggresults['TicketPrinter_quantity'] = aggresults[aggresults['category'] == 'Ticket Printer'].quantity

aggresults['Printhead_value'] = aggresults[aggresults['category'] == 'Printhead'].value
aggresults['Printhead_quantity'] = aggresults[aggresults['category'] == 'Printhead'].quantity

aggresults['Accessories_value'] = aggresults[aggresults['category'] == 'Accessories'].value
aggresults['Accessories_quantity'] = aggresults[aggresults['category'] == 'Accessories'].quantity

In [117]:
aggresults.head(2)

,vat,category,value,quantity,Wristband_value,Wristband_quantity,RFID_value,RFID_quantity,Tickets_value,Tickets_quantity,...,Label_value,Label_quantity,Ribbon_value,Ribbon_quantity,TicketPrinter_value,TicketPrinter_quantity,Printhead_value,Printhead_quantity,Accessories_value,Accessories_quantity
0,ES B81148215,Mobile Computing,1199.22,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ES B82832155,Label,0.00,8.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [118]:
aggresults.drop(columns=['category','value','quantity'], inplace = True)

In [119]:
aggresults['vat'] = aggresults['vat'].str.replace('ES','')

In [120]:
aggresults['vat'] = aggresults['vat'].str.strip()

In [121]:
aggresults.fillna(0)

,vat,Wristband_value,Wristband_quantity,RFID_value,RFID_quantity,Tickets_value,Tickets_quantity,CardPrinter_value,CardPrinter_quantity,TouchScreen_value,...,Label_value,Label_quantity,Ribbon_value,Ribbon_quantity,TicketPrinter_value,TicketPrinter_quantity,Printhead_value,Printhead_quantity,Accessories_value,Accessories_quantity
0,B81148215,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.00,0.0
1,B82832155,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,8.0,0.00,0.0,0.00,0.0,0.0,0.0,0.00,0.0
2,B83028084,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.00,0.0
3,B92477157,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.00,0.0,0.00,0.0,0.0,0.0,1025.00,25.0
4,00239342G,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8266,Y4139399B,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,363.42,6.0,0.00,0.0,0.0,0.0,0.00,0.0
8267,Y4892037C,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.00,0.0,192.52,1.0,0.0,0.0,0.00,0.0
8268,Y5373861V,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.00,0.0,0.00,0.0,0.0,0.0,262.88,1.0
8269,Y5761055Y,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.00,0.0,0.00,0.0,0.0,0.0,29.14,1.0
8270,Y6439417Y,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.00,0.0

In [122]:
columnas = list(aggresults.columns)
columnas.pop(0)
columnas

['Wristband_value',
 'Wristband_quantity',
 'RFID_value',
 'RFID_quantity',
 'Tickets_value',
 'Tickets_quantity',
 'CardPrinter_value',
 'CardPrinter_quantity',
 'TouchScreen_value',
 'TouchScreen_quantity',
 'Card_value',
 'Card_quantity',
 'CardRibbon_value',
 'CardRibbon_quantity',
 'Mobile_value',
 'Mobile_quantity',
 'Scanner_value',
 'Scanner_quantity',
 'LabelPrinter_value',
 'LabelPrinter_quantity',
 'Label_value',
 'Label_quantity',
 'Ribbon_value',
 'Ribbon_quantity',
 'TicketPrinter_value',
 'TicketPrinter_quantity',
 'Printhead_value',
 'Printhead_quantity',
 'Accessories_value',
 'Accessories_quantity']

In [123]:
dataframe = aggresults.groupby(['vat'])[
 'Wristband_value',
 'Wristband_quantity',
 'RFID_value',
 'RFID_quantity',
 'Tickets_value',
 'Tickets_quantity',
 'CardPrinter_value',
 'CardPrinter_quantity',
 'TouchScreen_value',
 'TouchScreen_quantity',
 'Card_value',
 'Card_quantity',
 'CardRibbon_value',
 'CardRibbon_quantity',
 'Mobile_value',
 'Mobile_quantity',
 'Scanner_value',
 'Scanner_quantity',
 'LabelPrinter_value',
 'LabelPrinter_quantity',
 'Label_value',
 'Label_quantity',
 'Ribbon_value',
 'Ribbon_quantity',
 'TicketPrinter_value',
 'TicketPrinter_quantity',
 'Printhead_value',
 'Printhead_quantity',
 'Accessories_value',
 'Accessories_quantity'].sum().reset_index()

C:\Users\Usuario\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

In [124]:
dataframe

,vat,Wristband_value,Wristband_quantity,RFID_value,RFID_quantity,Tickets_value,Tickets_quantity,CardPrinter_value,CardPrinter_quantity,TouchScreen_value,...,Label_value,Label_quantity,Ribbon_value,Ribbon_quantity,TicketPrinter_value,TicketPrinter_quantity,Printhead_value,Printhead_quantity,Accessories_value,Accessories_quantity
0,00239342G,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.00,0.0
1,00271666J,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.00,0.0,0.00,0.0,0.0,0.0,75.20,1.0
2,00664054K,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.00,0.0,0.00,0.0,0.0,0.0,40.32,1.0
3,00683789E,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.00,0.0
4,00792540Y,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7127,Y4139399B,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,363.42,6.0,0.00,0.0,0.0,0.0,0.00,0.0
7128,Y4892037C,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.00,0.0,192.52,1.0,0.0,0.0,0.00,0.0
7129,Y5373861V,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.00,0.0,0.00,0.0,0.0,0.0,262.88,1.0
7130,Y5761055Y,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.00,0.0,0.00,0.0,0.0,0.0,29.14,1.0
7131,Y6439417Y,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.00,0.0

In [125]:
dataframe.to_csv('..\Datos\processed\sales_limpia.csv')

In [126]:
companies = pd.read_csv('..\Datos\processed\companies_clean.csv')

In [127]:
new_df = pd.merge(dataframe, companies,  how='left', left_on=['vat'], right_on = ['CIF/NIF'])

In [128]:
new_df.drop(columns=(['Unnamed: 0','CIF/NIF','Nombre_einforma']))

,vat,Wristband_value,Wristband_quantity,RFID_value,RFID_quantity,Tickets_value,Tickets_quantity,CardPrinter_value,CardPrinter_quantity,TouchScreen_value,...,Ribbon_value,Ribbon_quantity,TicketPrinter_value,TicketPrinter_quantity,Printhead_value,Printhead_quantity,Accessories_value,Accessories_quantity,Actividad Informa,provincia
0,00239342G,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00,0.0,0.00,0.0,0.0,0.0,0.00,0.0,NaN,NaN
1,00271666J,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00,0.0,0.00,0.0,0.0,0.0,75.20,1.0,NaN,NaN
2,00664054K,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00,0.0,0.00,0.0,0.0,0.0,40.32,1.0,Maquinas automáticas sin operador par fotogra...,Madrid
3,00683789E,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00,0.0,0.00,0.0,0.0,0.0,0.00,0.0,Farmacias,Cuenca
4,00792540Y,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00,0.0,0.00,0.0,0.0,0.0,0.00,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7127,Y4139399B,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,363.42,6.0,0.00,0.0,0.0,0.0,0.00,0.0,Explotación electrónica por cuenta de terceros,Barcelona
7128,Y4892037C,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00,0.0,192.52,1.0,0.0,0.0,0.00,0.0,NaN,NaN
7129,Y5373861V,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00,0.0,0.00,0.0,0.0,0.0,262.88,1.0,NaN,NaN
7130,Y5761055Y,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00,0.0,0.00,0.0,0.0,0.0,29.14,1.0,NaN,NaN
7131,Y6439417Y,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00,0.0,0.00,0.0,0.0,0.0,0.00,0.0,NaN,NaN

In [129]:
final_df = pd.get_dummies(data=new_df, columns=['Actividad Informa', 'provincia'])

In [130]:
final_df.to_csv('..\Datos\processed\DATAFRAME.csv')

,vat,Wristband_value,Wristband_quantity,RFID_value,RFID_quantity,Tickets_value,Tickets_quantity,CardPrinter_value,CardPrinter_quantity,TouchScreen_value,...,provincia_Soria,provincia_Tarragona,provincia_Tenerife,provincia_Teruel,provincia_Toledo,provincia_Valencia,provincia_Valladolid,provincia_Zamora,provincia_Zaragoza,provincia_Ávila
0,00239342G,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
1,00271666J,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2,00664054K,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
3,00683789E,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
4,00792540Y,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0